<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>

<form method="post">
{% csrf_token %}

    <h1 class="h3 mb-3 fw-normal">Пожалуйста, авторизуйтесь</h1>

    <div class="form-floating">
      {{ form.username }}
      {{ form.username.label_tag }}
    </div>
    <div class="form-floating">
      {{ form.password }}
      {{ form.password.label_tag }}
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> запомнить меня
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" value="Ok">Войти</button>

</form>
</body>
</html>
